<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <title> {% block title %} {% endblock %} </title>
</head>
<body class = 'bg-dark'>

    
    <div class = 'container'>
        <div class= 'row justify-content-center'>
            <div class = 'col-auto'>
                <div id = 'logged-out-user-menu' class = 'navbar navbar-light bg-dark'>
                    <a class = 'btn btn-outline-info text-decoration-none' href = '/'> Home </a>
                    <a class = 'btn btn-outline-info text-decoration-none' href = '/create-user'> Create User </a>
                    <a class = 'btn btn-outline-info text-decoration-none' href = '/searches'> Searches </a>
                    <a class = 'btn btn-outline-info text-decoration-none' href = '/favorites'> Favorites </a>
                    <a class = 'btn btn-outline-info text-decoration-none' href = '/likes'> Liked Pages </a>
                    <a class = 'btn btn-outline-info text-decoration-none' href = '/login'> Login </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class = 'container mt-5'>
        <div class = 'row justify-content-center'>
            <div class = 'col-auto'>
                <h1 class = 'text-info'> Wiki-V2 </h1>
        </div>
    </div>

    {% block content %}




    {% endblock %}
  
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>